<form class="movies-form">
    <mat-form-field class="movies-full-width">
        <mat-chip-list #chipList aria-label="Movie selection">
            <mat-chip
                *ngFor="let selectedMovie of selectedMovies"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(selectedMovie)">
                {{selectedMovie.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>

            <input
            matInput
            placeholder="Pick a movie"
            #movieInput
            [formControl]="moviesFormControl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectMovie($event)">
            <mat-option *ngFor="let movie of filteredMovies | async" [value]="movie">
                {{ movie.name }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>

<button mat-raised-button color="accent" (click)="recommendMovies()" [disabled]="selectedMovies.length < 3">
    Recommend
</button>

<mat-list>
  <h3 mat-subheader>Recommendations</h3>
  <mat-list-item *ngFor="let movie of recommendations">
    <mat-icon mat-list-icon>grade</mat-icon>
    <h4 mat-line>{{movie.name}}</h4>
    <p mat-line> {{movie.score}} </p>
  </mat-list-item>
</mat-list>
